* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.navbar {
    padding: 30px;
    width: 100%;
    background-color: black;
}

.icon {
    width: 50px;
    height: auto;
}

#icon {
    float: left;
}

li {
    display: inline;
    float: right;
    margin-right: 15px;
}

a {
    color: white;
}

.header {
    align-items: center;
    text-align: center;
}

.heading {
    margin-bottom: 15px;
    margin-top: 15px;
}

.axolots {
    padding: 30px;
    max-width: 100%;
}

.card {
    width: 300px;
    min-width: 300px;
    height: 380px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    margin: 30px;
}

.card-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.card-text {
    padding: 10px;
}

h3 {
    margin-bottom: 10px;
}

.team {
    background-color: black;
    padding: 30px;
    margin: 30px;
}

.team-card {
    background-color: white;
    width: 300px;
    min-width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;
    margin: 30px;
}

.team-img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.team-text {
    padding: 10px;
}

.email {
    color: black;
}